@model X.PagedList.IPagedList<PedidosViewModel>
@using X.PagedList.Mvc.Core;

<head>
    <link rel="stylesheet" href="~/css/mContainer.css" />
</head>
<body>
    <div class="m-container">
        <h2>Relação de Pedidos</h2>

        <br />
        <a href="/Pedidos/Create">Novo Registro</a>
        <br />
        @if (Model.Count > 0)
        {
            <table class="m-table-center">
                <tr>
                    <th>Ações</th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>CEP</th>
                    <th>Data</th>
                </tr>

                @foreach (PedidosViewModel a in Model)
                {
                    <tr>
                        <td>
                            <a href="Pedidos/Edit?id=@a.Id" class="btn btn-info">Editar</a>
                            <a href="javascript:apagarRegistro(@a.Id, 'Pedidos')" class="btn btn-danger">Apagar</a>
                            <a href="Pedidos/VerItens?id=@a.Id" class="btn btn-info">Itens</a>
                        </td>
                        <td>@a.Id</td>
                        <td>@a.Cliente.Nome</td>
                        <td>@a.status.status</td>
                        <td>@a.endereco.CEP</td>
                        <td>@a.data</td>
                    </tr>
                }

            </table>
            <div>
                @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
            </div>
        }
        else
        {
            <div>
                <h4>Não há dados Disponiveis</h4>
            </div>
        }

    </div>
</body>
