@model List<JogadorViewModel>

<h2>Relação de jogador cadastrados</h2>

<br />
<a href="/jogador/Create">Novo Registro</a>
<br />


<table class="table table-responsive table-striped">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Nome</th>
        <th>TimeId</th>
        <th>Posicao</th>
    </tr>

    @foreach (JogadorViewModel a in Model)
    {
        <tr>
            <td>
                <a href="Jogador/Edit?id=@a.Id" class="btn-info">Editar</a>
                <a href="javascript:confirmaExclusao(@a.Id, 'Jogador')" class="btn btn-danger">Apagar</a>
            </td>
            <td>@a.Id</td>
            <td>@a.Nome</td>
            <td>@a.TimeId</td>
            <td>@a.Posicao</td>
        </tr>
    }


</table>
