@model X.PagedList.IPagedList<ProdutosViewModel>
@using X.PagedList.Mvc.Core;


@if (Model != null)
{
    @if (Model.Count > 0)
    {
<table class="m-table-center">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
    </tr>

    @foreach (ProdutosViewModel p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nome</td>
            <td>@p.Preço</td>
            <td>@p.Quantidade</td>
        </tr>
    }
</table>
<div>
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
</div>
    }
    else
    {
        <h2>Não há Itens Disponíveis</h2>
        <p>Considere alterar os paramêtros de pesquisa</p>
    }

}


