@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="titulo-formularios">Cadastro de Usuário</h2>
<form class="formulario col-md-8" asp-action="Save" method="post">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <input type="hidden" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
    <span asp-validation-for="Id" class="text-danger"></span>

    <label for="Nome" class="control-label">Nome</label>
    <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
    <br/>

    <label for="CPF" class="control-label">CPF</label>
    <input type="text" Name="CPF" value="@Model.CPF" class="form-control" />
    <span asp-validation-for="CPF" class="text-danger"></span>
    <br />

    <div>
        <div class="row">
            <div class="col-6">
                <label for="Email" class="control-label">Email</label>
                <input type="text" Name="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label for="Nascimento" class="control-label">Data de Nascimento</label>
                <input type="date" Name="Nascimento" value="@Model.Nascimento.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
        </div>
    </div>


    <label for="senha" class="control-label">Senha</label>
    <input type="password" name="senha" class="form-control" />
    <span asp-validation-for="senha" class="text-danger"></span>
    <br />

    <label for="senhaRepetida" class="control-label">Repetir Senha</label>
    <input type="password" name="senhaRepetida" class="form-control" />
    <span asp-validation-for="senhaRepetida" class="text-danger"></span>
    <br />



    @if (ViewBag.Tipo == "Gerente")
    {
        <label for="idTipoUsuario" class="control-label">Categoria</label>
        <select asp-for="idTipoUsuario" asp-items="ViewBag.Categorias" class="form-control"> </select>
        <span asp-validation-for="idTipoUsuario" class="text-danger"></span>
        <br />
    }
    else
    {
        <label for="idTipoUsuario" class="control-label" hidden>Categoria</label>
        <select asp-for="idTipoUsuario" asp-items="ViewBag.Categorias" class="form-control" hidden> </select>
        <span asp-validation-for="idTipoUsuario" class="text-danger"></span>
        <br />
    }
    <input type="submit" value="Salvar dados" class="btn btn-info" />
    &nbsp;&nbsp;&nbsp;

    <a href="#" onclick='javascript:history.back(-1);' class="btn btn-light">Voltar</a>

    <br />
</form>
