@model ProdutosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table table-responsive table-striped">

    <div class="row container-detalhes">
        <div class="col-8 produto-detalhes">

            <img class="imagem-detalhes" src="data:image/jpeg;base64,@Model.FotoEmBase64">

        </div>

        <div class="col-4 descricao-detalhes">

            <h3 style="font-size: 24px">@Model.Nome</h3>
            <p>@Model.Descricao</p>
            @*//<p>@Model.idCategoria</p>*@

            @if (@Model.Desconto > 0)
            {
                <p style="font-size:30px" class="card-price"> <b> De R$ @Model.Preço, 00</b> </p>
                <p> Por apenas <b>R$ @Model.Desconto,00</b></p>
            }
            else
            {
                <p style="font-size:30px" class="card-price"><b>R$ @Model.Preço,00</b></p>
            }

            <p>Quantidade em estoque:</p> <p style="color: green;"> @Model.Quantidade</p>


            <div class="botoes-detalhes">
                <a href="#" style="position: sticky; margin-top: 60px;" class="btn-detalhes btn btn-secondary">Comprar agora</a>
                <br />
                <a href="/Carrinho/AdicionarCarrinho?ProdutoId=@Model.Id&Quantidade=1" class="btn-comprar btn btn-success">Adicionar ao carrinho</a>
            </div>


        </div>
    </div>

    




</table>