@model List<EnderecoViewModel>

<h2>Relação de Endereços</h2>

<br />
<a href="/Endereco/Create">Novo Registro</a>
<br />
Endereços do usuario: @ViewBag.NomeUsuario
<table class="table table-responsive table-striped">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Rua</th>
        <th>Complemento</th>
        <th>Número</th>
        <th>CEP</th>
        <th>Cidade</th>
        <th>statusEnd </th>
    </tr>

    @foreach (EnderecoViewModel a in Model)
    {
        <tr>
            <td>
                <a href="Endereco/Edit?id=@a.Id" class="btn-info">Editar</a>
                <a href="javascript:apagarRegistro(@a.Id, 'Endereco')" class="btn btn-danger">Apagar</a>
            </td>
            <td>@a.Id</td>
            <td>@a.Rua</td>
            <td>@a.Complemento</td>
            <td>@a.Numero</td>
            <td>@a.CEP</td>
            <td>@a.Cidade</td>
            @if (@a.Ativo)
            {
                <td>SIM</td>
            }
            else
            {
                <td>NÃO</td>
            }

        </tr>
    }


</table>
